
@import 'https://fonts.googleapis.com/css?family=Baloo+Bhaina';

* {
	font-family: 'Baloo Bhaina', cursive;
}

#quiz {
	width: 500px;
	height: 100%;
	background-color: lightgrey;
	margin: 0 auto;
	text-align: center;
	display: block;
	position: relative;
}

h1 {
	color: charcoal;
	font-size: 2em;
	margin-top: 2em;
	padding-top: 1.5em;
	margin-bottom: 1em;
}

input[type="radio"] {
	display: block;
	margin: 10%;
}

.question {
	width: 80%;
	background-color: darkgrey;
	height: 50px;
	margin: 0 auto;
}

#next, #previous {
	background-color: darkgrey;
	width: 30px;
	height: 35px;
	
}

#next {
	float: right;
}

#previous {
	float: left;
}

